@import url('https://fonts.googleapis.com/css?family=Mada|Poiret+One&display=swap');

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Poiret One';
}

.logo{
	height: 100%;
	width: auto;
	padding-left: 25px;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url("../img/flor.jpg");
	background-position: 5% 200%;
	width: 100%;
	height: 65px;
}

nav li{
	transition: all 1s;
	font-size: 18px;
	float: left;
	list-style-type: none;
	margin-left: 35px;
	padding: 5px;
}

nav li:hover{
	background-color: rgb(219, 136, 215);
	border-radius: 50px;
	transform: scale(1.2) !important;
}

nav a:hover{
	color: white;
}

nav{
	margin-right: 30px;
	display: block;
}

nav a{
	color: rgb(94, 15, 87);
	text-decoration: none;
	font-weight: bold;
}



#sliderContent{
	width: 100%;
	margin: auto;
}

.slider img{
	display: block;
	margin: auto;
	width: 100%;
}

p{
	font-size: 24px;
}

.reintento{
	text-align: center;
	border-radius: 50% 50%;
	margin-bottom: 10px;
	color: red;
}

.conectado{
	color: #1C8D09;
	margin-bottom: 25px;
}

.volver{
	font-size: 24px;
	color: white;
	font-weight: bold;
	border: solid 1px #FFA5EF;
	background-color: rgb(219, 136, 215);
	margin-top: 20px;
	margin-left: 25px;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 500px;
}

.salir{
	font-size: 18px;
	width: 25%;
	align-self: center;
	padding: 15px;
	font-weight: bold;
	background-color: #D9D9D9;
	border: solid 1px #C9C9C9;
}

.sino{
	font-weight: bold;
	color: white;
	background-color:#FFA7EF;
	width: 35px;
	padding: 3px;
	margin-right: 5px;
}

#sino{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.pdf{
	font-weight: bold;
	display: block;
	width: 100px;
	margin: auto;
	padding: 10px;
	margin-top: 15px;
	background-color: #FF97F6;
}

form{
	width:450px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#FFA7EF;
	margin-top: 25px;
}

form label{
	width:150px;
	font-weight:bold;
	display:inline-block;
	padding: 10px;
}

select{
	padding: 3px;
	font-weight: bold;
}

option{
	font-weight: bold;
}

form input[type="text"],
form input[type="password"]{
	font-weight: bold;
	width:200px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

#filosofia ,#promociones,#social,#contacto{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 100px;
}

#filosofia{
	height: 275px;
	text-align: center;
}

.garantias{
	text-align: center;
	margin-top: 20px;
}

#servicios{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 100px;
}

.servicio{
	display:flex;
	flex-direction: column;
	width: 25%;
	height: auto;
	border: 2px solid black;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	background-color:#FFCBF2;
}

.servicio h2{
	text-align: center;
	padding: 10px;
}
.servicio img{
	width: 100%;
	height: auto;
}

.servicio i, .servicio p{
	margin-left: 10px;
}

#contacto{
	background-color: #D8D8D8;
}

#contacto h1{
	margin-bottom: 35px;
}

#contacto p{
	margin-bottom: 15px;
	font-weight: bold;
}

#contacto i{
	margin-top: 30px;
}

#social{
	margin: auto;
	width: 50%;
}

table{
	font-weight: bold;
	font-size: 22px;
	margin:auto;
	width: 60%;
	text-align: center;
	background-color: #FFD0EB;
	border: 1px solid #FF86F2;
}

th{
	padding: 5px;
	background-color: #FF97F6;
}

#opciones{
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
	justify-content: center;
}

#opciones button{
	border: none;
	color: white;
	font-size: 20px;
	background-color: #FF9DF7;
	font-weight: bold;
	padding: 17px;
	margin-right: 8px;
	margin-bottom: 8px;
}

footer{
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F9AAEB;
	padding: 5px;
	margin-top: 25%;
}

/* Iconos */

.fa-leanpub{
	color: #547BC9;
}

.fa-award{
	color: #C7AD1A;
}

b, .fa-brain{
	color: rgb(219, 136, 215);
}

.fa-address-book{
	margin-left: 15px;
	color: #8F2A2A;
}

.fa-whatsapp{
	color: white;
	background-color: green;
	border-radius:50%;
	font-size: 30px;
}

.fa-envelope-square{
	color: rgb(175, 24, 24);
	font-size: 30px;
}

.fa-phone-square{
	color: rgb(28, 36, 151);
	font-size: 30px;
}

.fa-facebook{
	transition: all 1s;
	color: rgb(0, 76, 148);
	font-size: 40px;
}

.fa-facebook:hover{
	transform: rotate(360deg) !important;
}

.fa-check-circle{
	color: green;
}

.ir-arriba{
	font-size:20px;
	color:rgb(228, 75, 233);
	cursor:pointer;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:2;
  }

/*Responsivo*/
@media all and (max-width: 768px) {
	table{
		font-size: 14px;
	}

	header{
		display: flex;
		flex-direction: column;
		height: 275px;
		width: 100%;
		border: 2px solid #FDE2FF;
		margin-bottom: 25px;
	}

    header ul{
    	align-items: center;
    	display: flex;
    	flex-direction: column;
    }

    .logo{
    	width: 107%;
    }

    #servicios{
    	flex-direction: column;
    	align-items: center;
    	margin: 10px 15px;
    }

    .servicio{
    	align-items: center;
    	width: 75%;
    	padding: 10px 0px;
    }


    #promociones img{
    	width: 75%;
    }

    p{
    	font-size: 16px;
    }

    h1{
    	font-size: 26px;
    }

    h2{
    	font-size: 20px;
    }

    iframe{
    	width: 100%;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
	table{
		font-size: 16px;
	}
	#servicios{
		display: flex;
		flex-wrap: wrap;
	}

	p{
		font-size: 20px;
	}

	nav li{
		font-size: 15px;
	}

	.servicio{
		width: 33%;
	}
}
